<div class="row">
    <div class="col-lg-8 col-lg-offset-2">
        <div class="form-inline" role="form">
            <div class="form-group">
                <input type="number" class="form-control" ng-model="userNum">
            </div>
            <button type="submit" class="btn btn-default" ng-click="addUsers()">Dodaj użytkowników</button>
        </div>
        <div class="form-inline" role="form">
            <div class="form-group">
                <input type="number" class="form-control" ng-model="resourceNum">
            </div>
            <button type="submit" class="btn btn-default" ng-click="addResources()">Dodaj zasoby</button>
        </div>
        <div class="form-inline" role="form">
            <div class="form-group">
                <input type="number" class="form-control" ng-model="reservationNum">
            </div>
            <button type="submit" class="btn btn-default" ng-click="addReservations()">Dodaj rezerwacje</button>
        </div>
    </div>
</div>
