<div class="row">
    <div class="col-lg-6 col-offset-3">
        <div class="list-view" when-scrolled="loadMore()">
            <div ng-repeat="reservation in reservations" class="list-item" ng-click="showDetails(reservation)" id="reservation-{{ reservation.id }}">
                <div class="info">
                    <div class="left">
                        <h5>{{ reservation.title }} <small>{{ reservation.user_name }}</small></h4>
                    </div>
                    <div class="right">
                        <p class="dates">
                            <strong>start: </strong>{{ reservation.start | date:'dd/MM/yy HH:mm' }}<br>
                            <strong>end: </strong>{{ reservation.end | date:'dd/MM/yy HH:mm' }}<br>
                        </p>
                    </div>
                </div>
                <div class="details">
                    <p>
                        <strong>id: </strong>{{ reservation.id }}
                    </p>
                    <p>
                        <strong>opis: </strong>{{ reservation.description }}
                    </p>
                </div>
            </div>
            <div class="list-item loader" ng-show="loading">
                <img src="css/images/loader.gif" title="loading"/>
            </div>
        </div>
    </div>
</div>