<table class="table">
    <thead>
    <tr>
        <th>Kto?</th>
        <th>Co?</th>
        <th>od kiedy?</th>
        <th>do kiedy?</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="reservation in reservations | filter:reservationSelector">
        <td>{{reservation.user.name}}</td>
        <td>{{reservation.resource.name}}</td>
        <td>{{reservation.start | date:'yyyy-MM-dd HH:mm'}}</td>
        <td>{{reservation.end | date:'yyyy-MM-dd HH:mm'}}</td>
    </tr>
    </tbody>
</table>